ansicolors==1.1.8
argparse-color-formatter==1.2.1
atomicwrites==1.2.1
attrs==18.2.0
boto3==1.9.28
botocore==1.12.28
colorama==0.4.0
docutils==0.14
filelock==3.0.9
jmespath==0.9.3
more-itertools==4.3.0
pluggy==0.8.0
py==1.7.0
pytest==3.9.2
python-dateutil==2.7.3
PyYAML==3.13
s3transfer==0.1.13
six==1.11.0
sizani==0.0.1
toml==0.10.0
tox==3.5.3
urllib3==1.23
virtualenv==16.0.0
